/* Estilos para el encabezado */
header {
    height: 590px !important;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-background {
    background-color: #000;
  }
  
  .hero-ruta-maya {
    background-image: url('../images/ruta-maya.jpg');
  }
  
  /* Estilos para el contenido del encabezado */
 
  h1.display-1 {
    padding-top: 55px;
    font-size: 3rem;
  }
  
  h2.lead {
    font-size: 2rem;
  }
  
  .btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
  }
  
  .btn-primary:hover {
    background-color: #ffca2b;
    border-color: #ffca2b;
  }
  
  @media (min-width: 1000px) {
    .hero-background {
      height: 100vh;
    }
  }
  